<div class="d-flex justify-content-center">
  <div class="col-md-6 row">
    <label class="form-label text-center" for="file">Upload file</label>
    <input type="file" class="form-control" (change)="upload.onChange($event)" />
  </div>
</div>
<div *ngIf="errors.length > 0" class="alert alert-danger">
  <ul *ngFor = "let error of errors">
    <li>{{ error }}</li>
  </ul>
</div>
<div class="mb-5" style="display: flex; justify-content: center; align-items: center;">
  <button
  (click)="upload.upload()"
  class="btn btn-primary btn-lg btn-block mt-2">Add file</button>
</div>
<div class="mt-6 col-md-11">
  <ng-container *ngIf="files && files.length > 0">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Size</th>
            <th>Created</th>
            <th style="table-layout:fixed; width: 40px;">Edited</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let file of files">
            <td style="text-overflow: ellipsis;">
              {{file['fileName']}}
            </td>
            <td>
              {{file['userName']}}
            </td>
            <td>
              {{getFileSize(file['size'])}}
            </td>
            <td>
              {{file['creationDate'] | date:'yyyy-MM-dd hh:mm'}}
            </td>
            <td>{{file['editDate'] | date:'yyyy-MM-dd hh:mm'}}</td>
            <td class="column" style=" padding-left: 10px">
              <button  type="button" class="btn btn-link btn-sm btn-rounded">
                Deep
              </button>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>create</mat-icon>
                  <span>Rename</span>
                </button>
                <button (click)="download(file['fileName'])" mat-menu-item>
                  <mat-icon>get_app</mat-icon>
                  <span>Download</span>
                </button>
                <button mat-menu-item (click)="confirm.openConfirmDeletionBox()">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
    </table>
  </ng-container>
  <ng-template #elseBlock><p class="text-center">Files wasn't found</p></ng-template>
</div>