<h1 class="page-title text-center mt-4">Welcome to Cloud store</h1>
<img clas="col-md-5 center" src="./CMC-Storage-S3-Small2.jpg" alt="Cloud storage image"/>
<div style="display: flex; justify-content: center;">
    <p class="col-md-6 mt-3 mb-2 p-2 center">Here you can store your files. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div style="display: flex; justify-content: center;"><button click="alert('Beep')" class="btn btn-primary btn-lg btn-block mt-2">View files</button></div>
<p class="text-center text-muted mt-3 mb-0">Dont have an account? <a routerLink="/auth/register" routerLinkActive="active" class="fw-bold text-body"><u>Register here</u></a></p>